html {
  background-color: #121212;
  color: white;
}
#maindiv {
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.semesters {
  padding-left: 2em;
  display: flex;
}
.innerdiv {
  margin-left: 2em;
  min-width: 20em;
}
.form-control {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  color: inherit;
  background-color: #121212;
  margin-bottom: 0.2em;
  border-radius: 0.25em;
}
.form-control:focus {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  color: inherit;
  background-color: #121212;
  margin-bottom: 0.2em;
  border-radius: 0.25em;
}
select option {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  color: inherit;
  background-color: #121212;
  margin-bottom: 0.2em;
  border-radius: 0.25em;
}
form {
  margin-top: 1em;
  min-width: 25%;
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: grey;
}
button {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 2em;
}
#GPA {
  width: auto;
  right: 50px;
  bottom: 2em;
  position: fixed;
}
#NewSemester {
  width: auto;
  height: 90%;
  position: fixed;
  margin-top: 2em;
  margin-bottom: 2em;
  left: 2em;
}
